@font-face {
	font-family: 'TRJNDaVinci';
	src: url('./TRJNDaVinci-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	--color-light: #e7e5e4;
	--color-dark: #0c0a09;
	--settings-margin: 30px;
	--visual-control-size: 33;
	margin: 0;
	overflow: hidden;
	color: var(--color-light);
	background: var(--color-dark);
	font-family: 'TRJNDaVinci', sans-serif;
}

#app {
	position: fixed;
	bottom: 1em;
	z-index: 2;
	display: flex;
	justify-content: center;
	width: 100%;
	opacity: 0;
	animation: fadeIn 0.5s ease 0.5s forwards;
}

#instructions {
	padding-bottom: 1em;
	text-wrap: balance;
	text-align: center;
}

#shutter {
	position: relative;
	display: grid;
	place-items: center;
	height: 80px;
	width: 80px;
	background: #797979;
	border-radius: 50%;
}

#shutter button {
	all: unset;
	height: 68px;
	width: 68px;
	border-radius: 50%;
	cursor: pointer;
	background: var(--color-light);
	transition: transform 0.2s ease;
}

#shutter button:hover:not(:active) {
	background: var(--color-light);
	transform: scale(1.04);
}

#shutter button:active {
	transform: scale(0.88);
	transition: transform 0.1s ease;
}

#app.ready #instructions {
	display: none;
}

#app:not(.ready) #shutter {
	display: none;
}

canvas {
	z-index: 1;
	background: var(--color-dark);
}

.flipped canvas {
	transform: scaleX(-1);
}

video {
	position: fixed;
	height: 1px;
	width: 1px;
	opacity: 0;
}

#settings {
	position: fixed;
	inset: 0;
	margin: var(--settings-margin);
	overflow: auto;
	color: var(--color-dark);
	background: var(--color-light);
	border-radius: 6px;
	opacity: 0;
	transition: opacity 0.1s ease;
}

body.settings-open #settings.populated {
	opacity: 0.8;
}

body.settings-open #shutter {
	display: none;
}

#settings h2 {
	font-weight: normal;
	font-size: 2.5rem;
	text-align: center;
}

.visual-controls {
	display: flex;
	justify-content: space-evenly;
	counter-reset: item;
	text-align: center;
	& > div {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: calc(var(--visual-control-size) * 1dvh);
		width: calc(var(--visual-control-size) * 1dvw);
		border: 1px solid currentColor;
		border-radius: 6px;
		& > div {
			inline-size: calc(100% - 30px);
			position: relative;
			counter-increment: item;
			border-inline: 1px solid currentColor;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: block;
				inline-size: 100%;
				block-size: 1px;
				background: currentColor;
			}
			&::after {
				content: counter(item);
				position: relative;
				display: inline-grid;
				width: 2em;
				height: 2em;
				place-items: center;
				border: 1px solid currentColor;
				border-radius: 50%;
				background: var(--color-light);
				writing-mode: horizontal-tb;
			}
		}
	}
}

/* Wowww. */
#controls-y {
	writing-mode: vertical-lr;
}
@media (aspect-ratio < 1) {
	#controls-x {
		writing-mode: vertical-lr;
	}
	#controls-y {
		writing-mode: horizontal-tb;
	}
}

#controls-list-move {
	list-style: none;
	counter-reset: item;
	padding: 2em 0 0 calc(((100 - var(--visual-control-size) * 2) * 1dvw - var(--settings-margin) * 2) / 3);
	& > li {
		counter-increment: item;
		position: relative;
		padding-bottom: 1em;
		&::before {
			content: counter(item);
			width: 2em;
			height: 2em;
			display: inline-grid;
			margin-right: 1em;
			place-items: center;
			border-radius: 50%;
			border: 1px solid currentColor;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
